body {
  margin: 0;
}

img {
  max-width: 100%;
  dispay: block;
}

header {
  background-color: #f8f8f8;
  padding: 2em;
}

h1,h2,h3 {
  margin-top: 0em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0em auto;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width:793px){

    .container-nav {
      flex-direction: row;
    }
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  font-family: 'Lora', serif;
  color: #143774;
  margin: 0em;
  font-weight: 400;
}

.sub-title {
  font-size: 0.75rem;
  font-family: 'Ubuntu', sans-serif;
  color: #1792d2;
  margin: 0em;
}

nav ul {
  list-style: none;
  padding :0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

nav li {
  margin: 0.5em 0;
}

@media (min-width: 793px){

    nav ul {
      flex-direction: row;
    }

    nav li {
      margin-left: 2em;
    }
}

nav a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #707070;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25em;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.currentpage {
  border-bottom : 2px solid #707070;
}

.currentpage:hover {
  color: #707070;
}

.middle-container {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
}

.middle-container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 793px){

  .middle-container-nav{
    flex-direction: row;
  }

  main {
    width : 70%;
  }

  aside {
    width: 20%;
  }
}
/*
main {
  width: 70%;
}

.sidebar {
  width: 30%;
}
*/

.main-box {
  text-align: left;
  border-bottom : 1px solid #707070;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.main-box-img {
  order: -1;
}

.main-box-commentbox {
  order: -1;
}

.main-box-img {
  width: 100%;
  height: 19.25em;
}

.main-box-commentbox {
  font-size : 0.87rem;
  font-family: Segoe UI;
  color: #707070;
}

.main-box-title {
  color : #143774;
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  font-weight: 400;
}

.main-box h2 {
  margin-bottom: 0em;
}

.main-box-body {
  color: #707070;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  margin: 2em 0;
}

.main-box-body span {
  color: #707070;
  font-weight: 700;
  font-size: 1rem;
}

.main-box-body a {
  color: #1792D2;
  text-decoration: underline;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: Light;
  letter-spacing: 0.1px;
}

.main-box-body a:hover,
.main-box-body a:focus {
  color: #143774;
}

.main-box-readmore {
  color: #1792D2;;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  text-decoration: none;
}

.main-box-readmore:hover,
.main-box-readmore:focus {
  color: #143774;
  text-decoration: underline;

}


.child-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2em;
}

.child-box-imginfo {
  order: 1;

}

.child-box-info {
  order: 2;
}

@media (min-width: 793px) {

  .child-box {
    flex-direction: row;
    justify-content: space-between;
  }

  .child-box-imginfo {
    width: 20%;
  }

  .child-box-info {
    width: 75%;
  }

}

.child-box-img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.child-box-commmentbox {
  color: #707070;
  font-size : 0.87rem;
  font-family: Segoe UI;
}



.child-box-title {
  color : #143774;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.child-box-body {
  color: #707070;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  margin: 2em 0;
}

.child-box-readmore {
  color: #1792D2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.87rem;
}

.child-box-readmore:hover,
.child-box-readmore:focus {
  color: #143774;
  text-decoration: underline;

}

.sidebar-widget {
  text-align: center;
  border : 10px solid #e4e3e3;
  padding: 2em;
  margin-bottom: 1.5em;
}

.widget-title {
  color: #143774;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.widget-img {
  width: 100%;
}

.widget-body {
  color: #143774;
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.widget-recent-title {
  color: #707070;
  font-size: 0.8rem;
  font-family: 'Lora', serif;
}

.widget-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.widget-recent-title {
  order: 2
}

.widget-img {
  order: 1;
  margin-bottom: 0.5em;
}
